INTEGRACION/resources/ServicioGestionEmpleado.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GestionEmpleado" targetNamespace="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado" xmlns:tns1="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema targetNamespace="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" schemaLocation="EsquemasElementos.xsd"/>
        </xsd:schema>
  </types>
  <message name="opConsultaEmpleadoTerceroPorIdRequest">
    <part name="elemConsultaTercero" element="iopun:elemConsultaEmpleadoPorIdTercero">
    </part>
  </message>
  <message name="elemConsultaPorTipoVinculacionRequest">
    <part name="elemConsultaPorTipoVinculacion" element="iopun:elemConsultaPorTipoVinculacion">
    </part>
  </message>
  <message name="elemConsultaContratoEmpleadoRequest">
    <part name="elemConsultaEmpleado" element="iopun:elemConsultaEmpleadoPorIdTercero">
    </part>
  </message>
  <message name="elemConsultaCabeceraRequest">
    <part name="elemConsultaTercero" element="iopun:elemConsultaCabeceraContrato">
    </part>
  </message>
  <message name="opConsultaInformacionEmpleadoResponse">
    <part name="elemEmpleado" element="iopun:elemRespuestaEmpleado">
    </part>
  </message>
  <message name="elemRespuestaContratoEmpleadoResponse">
    <part name="elemRespuestaContratoEmpleado" element="iopun:elemRespuestaConsultaDetalleEmpleado">
    </part>
  </message>
  <message name="elemRespuestaPorTipoVinculacionResponse">
    <part name="elemRespuestaPorTipoVinculacion" element="iopun:elemRespuestaCabeceraContratos">
    </part>
  </message>
  <message name="opConsultaEmpleadoTerceroPorIdResponse">
    <part name="elemTercero" element="iopun:elemRespuestaConsultaTercero">
    </part>
  </message>
  <message name="opConsultaInformacionEmpleadoRequest">
    <part name="elemConsultaTercero" element="iopun:elemConsultaTercero">
    </part>
  </message>
  <message name="elemRespuestaCabeceraContratosResponse">
    <part name="elemRespuestaCabeceraContratos" element="iopun:elemRespuestaCabeceraContratos">
    </part>
  </message>
  <portType name="GestionEmpleadoPortType">
    <operation name="opConsultaEmpleadoTerceroPorId">
      <input name="input1" message="tns1:opConsultaEmpleadoTerceroPorIdRequest">
    </input>
      <output name="output1" message="tns1:opConsultaEmpleadoTerceroPorIdResponse">
    </output>
    </operation>
    <operation name="opConsultaInformacionEmpleado">
      <input message="tns1:opConsultaInformacionEmpleadoRequest">
    </input>
      <output message="tns1:opConsultaInformacionEmpleadoResponse">
    </output>
    </operation>
    <operation name="opConsultaCabeceraContratos">
      <input message="tns1:elemConsultaCabeceraRequest">
    </input>
      <output message="tns1:elemRespuestaCabeceraContratosResponse">
    </output>
    </operation>
    <operation name="opConsultaContratoEmpleado">
      <input message="tns1:elemConsultaContratoEmpleadoRequest">
    </input>
      <output message="tns1:elemRespuestaContratoEmpleadoResponse">
    </output>
    </operation>
    <operation name="opConsultaPorTipoVinculacion">
      <input message="tns1:elemConsultaPorTipoVinculacionRequest">
    </input>
      <output message="tns1:elemRespuestaPorTipoVinculacionResponse">
    </output>
    </operation>
  </portType>
  <binding name="GestionEmpleadoBinding" type="tns1:GestionEmpleadoPortType">
    <p:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opConsultaEmpleadoTerceroPorId">
      <p:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaEmpleadoTerceroPorId"/>
      <input name="input1">
        <p:body use="literal"/>
      </input>
      <output name="output1">
        <p:body use="literal"/>
      </output>
    </operation>
    <operation name="opConsultaInformacionEmpleado">
      <p:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaInformacionEmpleado"/>
      <input>
        <p:body use="literal"/>
      </input>
      <output>
        <p:body use="literal"/>
      </output>
    </operation>
    <operation name="opConsultaCabeceraContratos">
      <p:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaCabeceraContratos"/>
      <input>
        <p:body use="literal"/>
      </input>
      <output>
        <p:body use="literal"/>
      </output>
    </operation>
    <operation name="opConsultaContratoEmpleado">
      <p:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaContratoEmpleado"/>
      <input>
        <p:body use="literal"/>
      </input>
      <output>
        <p:body use="literal"/>
      </output>
    </operation>
    <operation name="opConsultaPorTipoVinculacion">
      <p:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaPorTipoVinculacion"/>
      <input>
        <p:body use="literal"/>
      </input>
      <output>
        <p:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServicioGestionEmpleado">
    <port name="EndPoint" binding="tns1:GestionEmpleadoBinding">
      <p:address location="http://localhost:8080/ode/processes/SARA_EMPLEADO_WS"/>
    </port>
  </service>
</definitions>
