INTEGRACION/INTEGRACION/WebContent/WEB-INF/services/ServicioGestionEmpleado/META-INF/EsquemasElementos.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros">
    <xs:include schemaLocation="EsquemasTiposMensajes.xsd"/>
    <xs:element name="elemSolicitudReplicaTercero" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemRespuestaReplicaTercero" type="iopun:tipoMsjRespuestaOp"/>
    <xs:element name="elemConsultaTercero" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemRespuestaConsultaTercero" type="iopun:tipoMsjTercero"/>
    <xs:element name="elemConsultaExistenciaTercero" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemRespuestaExistenciaTercero" type="iopun:tipoMsjRespuestaExistencia"/>
    <xs:element name="elemSolicitudCreacionTercero" type="iopun:tipoMsjTercero"/>
    <xs:element name="elemRespuestaCreacionTercero" type="iopun:tipoMsjRespuestaOp"/>
    <xs:element name="elemSolicitudActualizacionTercero" type="iopun:tipoMsjTercero"/>
    <xs:element name="elemRespuestaActualizacionTercero" type="iopun:tipoMsjRespuestaOp"/>
    <xs:element name="elemSolicitudCreacionActualizacionTercero" type="iopun:tipoMsjTercero"/>
    <xs:element name="elemRespuestaCreacionActualizacionTercero" type="iopun:tipoMsjRespuestaOp"/>
    <xs:element name="elemRespuestaEmpleado" type="iopun:tipoMsjRespuestaEmpleado"/>
    <xs:element name="elemConsultaEmpleadoPorIdTercero" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemRespuestaCabeceraContratos" type="iopun:tipoMsjRespuestaCabeceraContratos"/>
    <xs:element name="elemConsultaPorTipoVinculacion" type="iopun:tipoMsjSolicitudPorTipoVinculacion"/>
    <xs:element name="elemRespuestaCabeceraContratosNacional" type="iopun:tipoMsjRespuestaCabeceraContratos"/>
    <xs:element name="elemConsultaCabeceraContrato" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemSolicitudCreacionDocente" type="iopun:tipoMsjRespuestaEmpleado"/>
    <xs:element name="elemSolicitudActualizacionDocente" type="iopun:tipoMsjRespuestaEmpleado"/>
    <xs:element name="elemExistenciaDocente" type="iopun:tipoMsjSolicitudPorIdTercero"/>
    <xs:element name="elemRespuestaExistenciaDocente" type="iopun:tipoMsjRespuestaExistencia"/>
    <xs:element name="elemRespuestaConsultaDetalleEmpleado" type="iopun:tipoMsjDetalleContratos"/>
</xs:schema>
