DisparadorUnal/EsquemasTiposComplejos.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por JOSÉ ALFONSO SÁNCHEZ (Universidad Nacional de Colombia) -->
<!--Created with Liquid XML 2015 Designer Edition (Trial) 13.0.4.5741 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EsquemasTiposBasicos.xsd"/>
	<xs:complexType name="tipoIdTercero">
		<xs:annotation>
			<xs:documentation>indica el tipo de documento y el numero que identifica a un tercero para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipoDocumento" type="iopun:tipoTipoDocumento" nillable="false"/>
			<xs:element name="numeroDocumento" type="iopun:tipoNumeroDocumento" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoTercero">
		<xs:annotation>
			<xs:documentation>indica a un tercero generico para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infoBasicaTercero" type="iopun:tipoInfoBasicaPersonal" nillable="false"/>
			<xs:element name="infoContacto" type="iopun:tipoInfoContacto" nillable="false"/>
			<xs:element name="infoTributaria" type="iopun:tipoInfoTributariaTercero" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoBasicaPersonal">
		<xs:annotation>
			<xs:documentation>indica la informacion biografica de un tercero generica para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idTercero" type="iopun:tipoIdTercero" nillable="false"/>
			<xs:element name="generoTercero" type="iopun:tipoGenerotercero"/>
			<xs:element name="nomTercero" nillable="false">
				<xs:complexType>
					<xs:choice>
						<xs:element name="nombrePersonaNatural" type="iopun:tipoNombrePersonaNatural"/>
						<xs:element name="nombrePersonaJuridica" type="iopun:tipoNombrePersonaJuridica"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="naturalezaTercero" type="iopun:tipoNaturalezaTercero" nillable="false"/>
			<xs:element name="estadoCivil" type="iopun:tipoEstadoCivil"/>
			<xs:element name="fechaNacimiento" type="iopun:tipoFecha"/>
			<xs:element name="lugarNacimiento" type="iopun:tipoUbicacion"/>
			<xs:element name="lugarResidencia" type="iopun:tipoUbicacion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEmpleado">
		<xs:annotation>
			<xs:documentation>tipo empleado para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoTercero">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="Vinculacion" type="iopun:tipoInfoContrato"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoNombrePersonaNatural">
		<xs:annotation>
			<xs:documentation>tipo para manejar el nombre de una persona natural para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="primerNombre" type="iopun:tipoPrimerNombre" nillable="false"/>
			<xs:element name="segundoNombre" type="iopun:tipoSegundoNombre"/>
			<xs:element name="primerApellido" type="iopun:tipoPrimerNombre" nillable="false"/>
			<xs:element name="segundoApellido" type="iopun:tipoSegundoApellido"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoContacto">
		<xs:annotation>
			<xs:documentation>tipo para manejar la informacion de contacto para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ciudadContacto" type="iopun:tipoIdCiudad" nillable="false"/>
			<xs:element name="telefonoContacto" type="iopun:tipoNumeroTelefono" nillable="false"/>
			<xs:element name="correoElectronicoContacto" type="iopun:tipoCorreoE"/>
			<xs:element name="direccionContacto" type="iopun:tipoDireccionFisica"/>
			<xs:element name="celular" type="iopun:tipoCelular" nillable="true" minOccurs="0"/>
			<xs:element name="extension" type="iopun:tipoExtension" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoRespuestaOp">
		<xs:annotation>
			<xs:documentation>indica la respuesta a una operacion de insercion o actualizacion de una entidad para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resultadoOp" type="iopun:tipoResultadoOp"/>
			<xs:element name="idError" type="iopun:tipoIdError"/>
			<xs:element name="msjError" type="iopun:tipoMensajeError"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoContrato">
		<xs:annotation>
			<xs:documentation>indica la informacion completa de un contrato para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cabeceraContrato" type="iopun:tipoCabeceraContrato"/>
			<xs:element name="detalleContrato" type="iopun:tipoDetalleContrato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoMontoMonetario">
		<xs:annotation>
			<xs:documentation>indica el monto tanto en moneda como en valor para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idMoneda" type="iopun:tipoIdMoneda"/>
			<xs:element name="valor" type="iopun:tipoValorMonetario"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoCabeceraContrato">
		<xs:annotation>
			<xs:documentation>indica la informacion principal un contrato para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codContrato" type="iopun:tipoCodContrato"/>
			<xs:element name="tipoVinculacion" type="iopun:tipoTipoVinculacion"/>
			<xs:element name="EstadoAdministrativo" type="iopun:tipoEstadoAdministrativo"/>
			<xs:element name="area" type="iopun:tipoArea"/>
			<xs:element name="Dependencia" type="iopun:tipoDependencia"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDetalleContrato">
		<xs:annotation>
			<xs:documentation>indica la informacion detallada de un contrato para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="asignacionBasica" type="iopun:tipoMontoMonetario"/>
			<xs:element name="cargoEmpleado" type="iopun:tipoCargoEmpleado"/>
			<xs:element name="fechaInicio" type="iopun:tipoFecha"/>
			<xs:element name="fechaFin" type="iopun:tipoFechaVacio"/>
			<xs:element name="dedicacion" type="iopun:tipoDedicacion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDocente">
		<xs:complexContent>
			<xs:extension base="iopun:tipoEmpleado">
				<xs:sequence>
					<xs:element name="UBGAA" type="iopun:tipoUBGAA"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoUBGAA">
		<xs:sequence>
			<xs:element name="facultad" type="iopun:tipoFacultad"/>
			<xs:element name="departamento" type="iopun:tipoDepartamento"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoTributariaTercero">
		<xs:sequence>
			<xs:element name="tipoTercero" type="iopun:tipoTipoTercero"/>
			<xs:element name="tipoContribuyente" type="iopun:tipoTipoContribuyente"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoUbicacion">
		<xs:sequence>
			<xs:element name="idPais" type="iopun:tipoIdPais"/>
			<xs:element name="idCiudad" type="iopun:tipoIdCiudad"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEstudiante">
		<xs:complexContent>
			<xs:extension base="iopun:tipoTercero"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoReciboMatricula"/>
	<xs:complexType name="tipoRubroPresupuestal">
		<xs:sequence>
			<xs:element name="Codigo" type="iopun:tipoCodigoRubro"/>
			<xs:element name="NombreRubro" type="iopun:tipoNombreRubro"/>
			<xs:element name="ValorDisponibilidad" type="iopun:tipoValorRubro"/>
			<xs:element name="ValorApropiacionDefinitiva" type="iopun:tipoValorApropiacionDef"/>
			<xs:element name="PorcentajeEjecucion" type="iopun:tipoPorcentajeEjecucion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoContratoTercero">
		<xs:sequence>
			<xs:element name="CodigoContrato" type="iopun:tipoCodigoContrato"/>
			<xs:element name="FechaInicioContrato" type="iopun:tipoFechaInicioContrato"/>
			<xs:element name="FechaFinContrato" type="iopun:tipofechaFinContrato"/>
			<xs:element name="TipoContrato" type="iopun:tipoTipoContrato"/>
			<xs:element name="Vigencia" type="iopun:tipoVigenciaContrato"/>
			<xs:element name="ObservacionContrato" type="iopun:tipoObservacionContrato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoPlaza">
		<xs:sequence>
			<xs:element name="CodigoPlaza" type="iopun:tipoCodigoPlaza"/>
			<xs:element name="CodigoCategoria" type="iopun:tipoCodigoCategoria"/>
			<xs:element name="Dedicacion" type="iopun:tipoCodigoDedicacion"/>
			<xs:element name="FechaInicioPlaza" type="iopun:tipoFechaInicioPlaza"/>
			<xs:element name="FechaFinPlaza" type="iopun:tipoFechaFinPlaza"/>
			<xs:element name="Asignatura"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoConceptoPresupuesto">
		<xs:sequence>
			<xs:element name="CodigoConcepto" type="iopun:tipoCodigoConceptoPresupuesto"/>
			<xs:element name="DescripcionConcepto" type="iopun:tipoDescripcionConcepto"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDia">
		<xs:sequence>
			<xs:element name="horaInicio" type="iopun:tipoHoraInicio"/>
			<xs:element name="HoraFin" type="iopun:tipoHoraFin"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoDetalleAsignatura">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="HorarioDias" type="iopun:tipoDia"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoBasicaAsignatura">
		<xs:sequence>
			<xs:element name="CodigoAsignatura" type="iopun:tipoCodigoAsignatura"/>
			<xs:element name="NombreAsignatura" type="iopun:tipoDescripcionAsignatura"/>
			<xs:element name="CreditosAsignatura" type="iopun:tipoCreditosAsignatura"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoAsignatura">
		<xs:sequence>
			<xs:element name="InfoBasica" type="iopun:tipoInfoBasicaAsignatura"/>
			<xs:element name="Infodetalle" type="iopun:tipoInfoDetalleAsignatura"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoPlanEstudios">
		<xs:sequence>
			<xs:element name="InfoBasicaPlanEstudios" type="iopun:tipoInfoBasicaPlanEstudios"/>
			<xs:element name="InfoDetallePlanEstudios" type="iopun:tipoInfoDetallePlanEstudios"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoBasicaPlanEstudios">
		<xs:sequence>
			<xs:element name="CodigoPlan" type="iopun:tipoCodigoPlanEstudios"/>
			<xs:element name="DescripcionPlan" type="iopun:tipoDescripcionPlanEstudios"/>
			<xs:element name="Promedio" type="iopun:tipoPromedio"/>
			<xs:element name="PromedioAcumulado" type="iopun:tipoPromedioAcumulado"/>
			<xs:element name="Estado" type="iopun:tipoEstadoPlanEstudios"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoDetallePlanEstudios">
		<xs:sequence>
			<xs:element name="Asignaturas" type="iopun:tipoAsignatura" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoCargaAcademicaDocente">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Asignatura" type="iopun:tipoInfoBasicaAsignatura"/>
			<xs:element name="NumVecesDictada" type="iopun:tipoNumVecesAsignaturas"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
