DisparadorUnal/EsquemasTiposMensajes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por JOSÉ ALFONSO SÁNCHEZ (Universidad Nacional de Colombia) -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by ANDRES (HighTech) -->
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.5.5293 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EsquemasTiposBasicos.xsd"/>
	<xs:include schemaLocation="EsquemasTiposComplejos.xsd"/>
	<xs:complexType name="tipoMsjRespuestaExistencia">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para dar la respuesta de la existencia o no de una entidad para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="confirmacionExistencia" type="iopun:tipoConfirmacionExistencia"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudPorIdTercero">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para la solicitud de un tercero por su id para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="idTercero" type="iopun:tipoIdTercero"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaOp">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para la solicitud de un tercero por su id para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="respuestaOP" type="iopun:tipoRespuestaOp"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjTercero">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para la información de un tercero para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="Tercero" type="iopun:tipoTercero"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaEmpleado">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para la respuesta de un empleado para interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="empleado" type="iopun:tipoEmpleado"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjGenerico">
		<xs:annotation>
			<xs:documentation>tipo de mensaje generico para interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infoMensaje" type="iopun:tipoInfoMensaje"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInfoMensaje">
		<xs:annotation>
			<xs:documentation>tipo de mensaje con informacion de seguimiento para trazabilidad de los mensajes en interop</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idSistema" type="iopun:tipoIdSistema" nillable="false"/>
			<xs:element name="idSede" type="iopun:tipoIdSede"/>
			<xs:element name="fechaHora" type="iopun:tipoFechaHora"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaCabeceraContratos">
		<xs:annotation>
			<xs:documentation>tipo de mensaje con la respuesta para las cabeceras de los contratos en interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="elemCabeceraContrato" type="iopun:tipoCabeceraContrato"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudPorTipoVinculacion">
		<xs:annotation>
			<xs:documentation>tipo de mensaje para la solicitud de informacion por tipo de vinculacion de un empleado en interop</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="elemTipoVinculacion" type="iopun:tipoTipoVinculacion"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjDocente">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="docente" type="iopun:tipoDocente"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjDetalleContratos">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="elemDetallesContratos" type="iopun:tipoDetalleContrato"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjConsultaRubro">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="fecha" type="iopun:tipoFecha"/>
					<xs:element name="Empresa" type="iopun:tipoEmpresa"/>
					<xs:element name="CodigoArea" type="iopun:tipoCodigoAreaResponsabilidad"/>
					<xs:element name="CodigoConcepto" type="iopun:tipoCodigoConceptoPresupuesto"/>
					<xs:element name="CodigoRecurso" type="iopun:tipoRecurso"/>
					<xs:element name="Proyecto" type="iopun:tipoProyecto"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaRubro">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="Rubro" type="iopun:tipoRubroPresupuestal"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaContratos">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="Contrato" type="iopun:tipoContratoTercero"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudContrato">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="tercero" type="iopun:tipoIdTercero"/>
					<xs:element name="Estado" type="iopun:tipoEstadoContrato"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudHomlogArea">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="Interface" type="iopun:tipoCodigoInterface"/>
					<xs:element name="Empresa" type="iopun:tipoEmpresa"/>
					<xs:element name="NumeroItem" type="iopun:tipoNumeroItem"/>
					<xs:element name="TipoRegistro" type="iopun:tipoTipoRegistro"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaHomologArea">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="CodigoAreaResponsabilidad"/>
					<xs:element name="DescripcionAreaResponsabilidad"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudHomologConceptoPresupuesto">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="Interface" type="iopun:tipoCodigoInterface"/>
					<xs:element name="Empresa" type="iopun:tipoEmpresa"/>
					<xs:element name="NumeroItem" type="iopun:tipoNumeroItem"/>
					<xs:element name="TipoRegistro" type="iopun:tipoTipoRegistro"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaHomologConceptoPresupuesto">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="ConceptoPresupuesto" type="iopun:tipoConceptoPresupuesto"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudEstadoCargueNomina">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="codigoCargueNomina" type="iopun:tipoCodigoCargaNomina"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaEstadoNomina">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="codigoCargue"/>
					<xs:element name="EstadoCargue" type="iopun:tipoEstadoCargueNomina"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaConsultaEstudiante">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="InfoBasicaPlanEstudios" type="iopun:tipoInfoBasicaPlanEstudios"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjRespuestaDetalleEstudiante">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="PlanEstudios" type="iopun:tipoPlanEstudios"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjrespuestaDetalleDocente">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="Asignatura" type="iopun:tipoAsignatura"/>
					<xs:element name="NumVecesDictada" type="iopun:tipoNumVecesAsignaturas"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tipoMsjSolicitudCargaArchivoNomina">
		<xs:complexContent>
			<xs:extension base="iopun:tipoMsjGenerico">
				<xs:sequence>
					<xs:element name="ArchivoPlano" type="iopun:tipoArchivoPlano"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
