DisparadorUnal/GestionGeneralTercero.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por JOSÉ ALFONSO SÁNCHEZ (Universidad Nacional de Colombia) -->
<!--Created with Liquid XML 2015 Designer Edition (Trial) 13.0.4.5741 (http://www.liquid-technologies.com)-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" name="GestionGeneralTercero" targetNamespace="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero">
	<types>
		<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified">
			<xsd:import schemaLocation="EsquemasElementos.xsd" namespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros"/>
		</xsd:schema>
	</types>
	<message name="elemIdTerceroRequest">
		<part name="elemIdTercero" element="iopun:elemConsultaEmpleadoPorIdTercero"/>
	</message>
	<message name="elemRespuestaOpCrearReemplazarResponse">
		<part name="ElemRespuestaOp" element="iopun:elemRespuestaCreacionActualizacionTercero"/>
	</message>
	<message name="elemTerceroRequest">
		<part name="elemTercero" element="iopun:elemSolicitudCreacionActualizacionTercero"/>
	</message>
	<message name="elemRespuestaOpResponse">
		<part name="elemrespuestaOp" element="iopun:elemRespuestaReplicaTercero"/>
	</message>
	<message name="elemConsultarCabeceraRequest">
		<part name="elemIdTercero" element="iopun:elemConsultaEmpleadoPorIdTercero"/>
	</message>
	<message name="elemConsultarCabeceraResponse">
		<part name="elemRespuestaOp" element="iopun:elemRespuestaCabeceraContratosNacional"/>
	</message>
	<message name="elemCreacionActualizacionDocenteRequest">
		<part name="elemCreacionActulaizacionDocente" element="iopun:elemSolicitudCreacionDocente"/>
	</message>
	<message name="elemCreacionActualizacionDocenteResponse">
		<part name="ElemRespuestaOp" element="iopun:elemRespuestaCrearReemplazarDocente"/>
	</message>
	<portType name="GestionGeneralTerceroPortType">
		<operation name="OpReplicarEmpleado">
			<input message="tns:elemIdTerceroRequest"/>
			<output message="tns:elemRespuestaOpResponse"/>
		</operation>
		<operation name="OpCrearReemplazarTerceroFinanciero">
			<input message="tns:elemTerceroRequest"/>
			<output message="tns:elemRespuestaOpCrearReemplazarResponse"/>
		</operation>
		<operation name="OpConsultarCabeceraContratosNacional">
			<input message="tns:elemConsultarCabeceraRequest"/>
			<output message="tns:elemConsultarCabeceraResponse"/>
		</operation>
		<operation name="OpCrearReemplazarDocente">
			<input message="tns:elemCreacionActualizacionDocenteRequest"/>
			<output message="tns:elemCreacionActualizacionDocenteResponse"/>
		</operation>
	</portType>
	<binding name="GestionGeneralTerceroBinding" type="tns:GestionGeneralTerceroPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="OpReplicarEmpleado">
			<soap:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero/OpReplicarEmpleado" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="OpCrearReemplazarTerceroFinanciero">
			<soap:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero/OpCrearReemplazarTerceroFinanciero" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="OpConsultarCabeceraContratosNacional">
			<soap:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero/OpConsultarCabeceraContratosNacional" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="OpCrearReemplazarDocente">
			<soap:operation soapAction="http://interoperabilidad.unal.edu.co/WS/GestionGeneralTercero/OpCrearReemplazarDocente" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ServicioGestionGeneralTercero">
		<port name="EndPoint" binding="tns:GestionGeneralTerceroBinding">
			<soap:address location="http://168.176.6.100:7003/soa-infra/services/default/ReplicarEmpleado_PJ/gestiongeneraltercero_client_ep"/>
		</port>
	</service>
</definitions>
