INTEGRACION/GestionEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="GestionEmpleado"
    targetNamespace="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:iopun="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros"
    xmlns:tns1="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            targetNamespace="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado">
            <xsd:import schemaLocation="EsquemasElementos.xsd"
                namespace="http://interoperabilidad.unal.edu.co/WS/Schemas/Terceros" />
        </xsd:schema>

    </types>


    <message name="opConsultaEmpleadoTerceroPorIdRequest">
        <part name="elemConsultaTercero"
            element="iopun:elemConsultaEmpleadoPorIdTercero" />
    </message>
    <message name="opConsultaEmpleadoTerceroPorIdResponse">
        <part name="elemTercero"
            element="iopun:elemRespuestaConsultaTercero" />
    </message>
    <message name="opConsultaInformacionEmpleadoRequest">
        <part name="elemConsultaTercero"
            element="iopun:elemConsultaTercero" />
    </message>
    <message name="opConsultaInformacionEmpleadoResponse">
        <part name="elemEmpleado"
            element="iopun:elemRespuestaEmpleado" />
    </message>
    <message name="elemConsultaCabeceraRequest">
        <part name="elemConsultaTercero"
            element="iopun:elemConsultaCabeceraContrato" />
    </message>
    <message name="elemRespuestaCabeceraContratosResponse">
        <part name="elemRespuestaCabeceraContratos"
            element="iopun:elemRespuestaCabeceraContratos" />
    </message>
    <message name="elemConsultaContratoEmpleadoRequest">
        <part name="elemConsultaEmpleado"
            element="iopun:elemConsultaEmpleadoPorIdTercero" />
    </message>
    <message name="elemRespuestaContratoEmpleadoResponse">
        <part name="elemRespuestaContratoEmpleado"
            element="iopun:elemRespuestaConsultaDetalleEmpleado" />
    </message>
    <message name="elemConsultaPorTipoVinculacionRequest">
        <part name="elemConsultaPorTipoVinculacion"
            element="iopun:elemConsultaPorTipoVinculacion" />
    </message>
    <message name="elemRespuestaPorTipoVinculacionResponse">
        <part name="elemRespuestaPorTipoVinculacion"
            element="iopun:elemRespuestaCabeceraContratos" />
    </message>
    <portType name="GestionEmpleadoPortType">
        <operation name="opConsultaEmpleadoTerceroPorId">
            <input name="input1"
                message="tns1:opConsultaEmpleadoTerceroPorIdRequest" />
            <output name="output1"
                message="tns1:opConsultaEmpleadoTerceroPorIdResponse" />
        </operation>
        <operation name="opConsultaInformacionEmpleado">
            <input message="tns1:opConsultaInformacionEmpleadoRequest" />
            <output message="tns1:opConsultaInformacionEmpleadoResponse" />
        </operation>
        <operation name="opConsultaCabeceraContratos">
            <input message="tns1:elemConsultaCabeceraRequest" />
            <output message="tns1:elemRespuestaCabeceraContratosResponse" />
        </operation>
        <operation name="opConsultaContratoEmpleado">
            <input message="tns1:elemConsultaContratoEmpleadoRequest" />
            <output message="tns1:elemRespuestaContratoEmpleadoResponse" />
        </operation>
        <operation name="opConsultaPorTipoVinculacion">
            <input message="tns1:elemConsultaPorTipoVinculacionRequest" />
            <output message="tns1:elemRespuestaPorTipoVinculacionResponse" />
        </operation>
    </portType>
    <binding name="GestionEmpleadoBinding"
        type="tns1:GestionEmpleadoPortType">
        <p:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="opConsultaEmpleadoTerceroPorId">
            <p:operation
                soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaEmpleadoTerceroPorId" />
            <input name="input1">
                <p:body use="literal" />
            </input>
            <output name="output1">
                <p:body use="literal" />
            </output>
        </operation>
        
        <operation name="opConsultaInformacionEmpleado">
            <p:operation
                soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaInformacionEmpleado" />
            <input>
                <p:body use="literal" />
            </input>
            <output>
                <p:body use="literal" />
            </output>
        </operation>
        
        <operation name="opConsultaCabeceraContratos">
            <p:operation
                soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaCabeceraContratos" />
            <input>
                <p:body use="literal" />
            </input>
            <output>
                <p:body use="literal" />
            </output>
        </operation>
        
        <operation name="opConsultaContratoEmpleado">
            <p:operation
                soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaContratoEmpleado" />
            <input>
                <p:body use="literal" />
            </input>
            <output>
                <p:body use="literal" />
            </output>
        </operation>
        
        <operation name="opConsultaPorTipoVinculacion">
            <p:operation
                soapAction="http://interoperabilidad.unal.edu.co/WS/GestionEmpleado/opConsultaPorTipoVinculacion" />
            <input>
                <p:body use="literal" />
            </input>
            <output>
                <p:body use="literal" />
            </output>
        </operation>
        
    </binding>
    
    <service name="ServicioGestionEmpleado">
        <port name="EndPoint" binding="tns1:GestionEmpleadoBinding">
            <p:address location="http://localhost:8080/ode/processes/SARA_EMPLEADO_WS"/>
        </port>
    </service>
</definitions>
